.footer {
    width: 320px;
    background-color: #304268;
    Display: flex;
    flex-direction: column;
    align-items: center;

    &__circle {
        position:relative;
        z-index: 1;
        transform: translateY(-22.5px);
        background-color: white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        align-items: center;

        &__arrow {
            margin: 10px 12px;
            width: 20,6px;
            height: 24px;
            align-items: center;
        }
    }

    &__articles {
        margin: 60px 123px 30px 124px;
        width:73px;
        height: 150px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 30px;
        color:white;
        text-align: center;
    }

    &__social {
        margin: 0px 86px 30px 87px;
        width: 147px;
        height: 90px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 30px;
        color:white;
        text-align: center;
    }

    &__copy {
        margin: 0px 121px 0px 122px;
        width: 77px;
        height: 30px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        color:white;
        text-align: center;
    }
    
    &__we {
        margin: 0px 15px 45px 15px;
        width: 290px;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        color:white;
        text-align: center;

        &__heart {
            size: 14px;
            text-align: center;
            align-items: center;
            line-height: 30px;
            color:#f26002;
        }
        
    }   
}