.header{
    display:flexbox;

    &__menu {
        position:sticky;
        z-index:3;
        width: 44px;
        height: 44px;
        margin-top:0;
        margin-left:0;
        padding: 15px 14px 15px 14px;
        background-color:#0271bc;
    }

    &__hero {
        position:absolute;
        z-index:1;
        object-fit:cover;
        margin-top:-44px;
        width:device-width;
        height:100vh;
    }

    &__title {
        position:absolute;
        z-index:2;
        align-items:center;
        margin: 284px 15px 10px 15px;
        width: 290px;
        height: 110px;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size:42px;
        color: white;
        line-height: 55px;
        text-align: center;
    }

    &__text {
        position:absolute;
        z-index:2;
        align-items:center;
        margin: 0px 15px 10px 15px;
        width: 290px;
        height: 21px;
        font-family: 'Roboto', sans-serif;
        font-size:16px;
        color: white;
        text-align: center;
    }
}
