.module2{
    width: 320px;
    margin:0;
    background-color: white;

    &__Insomnia {
        margin: 30px 15px 0px 15px;
        Width:90px;
        height:30px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 30px;
        color:#8ccbea;
        text-align: left;
    }

    &__title {
        margin: 0px 15px 0px 15px;
        Width:290px;
        height: 60px;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: black;
        text-align: left;
    }

    &__text {
        margin: 0px 15px 30px 15px;
        Width:290px;
        height: 120px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #4a4a4a;
        text-align: left;
    }

    &__button {
        margin-left: 15px;
        margin-bottom: 45px;
        border: #f26002 solid 2px;
        background-color: white;
        width: 76px;
        height: 45px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        align-items: center;
    
            &__go{
                color:white;
                width: 124px;
                height: 45px;
                font-family: 'Roboto medium', sans-serif;
                color:white;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                line-height:45px;
            }
    }
}
