.module3 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #eff9ff;

    &__title {
        margin: 30px 15px 45px 15px;
        width:290px;
        height: 30px;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
        color:$black;
    }

    &__grid-changes{

        &__subtitle {
            margin: 45px 68px 0px 68px;
            width:184px;
            height: 30px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            color:$black;
        }

        &__text {
            margin: 0px 70px;
            width:180px;
            height: 63px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            color:$black;
        }
    }

    &__link2 {
        margin: 45px 68px 60px 68px;
        background-color: $bright-orange;
        width: 184px;
        height: 45px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &__more{
            color:$white;
            width: 124px;
            height: 45px;
            font-family: 'Roboto medium', sans-serif;
            font-size: 20px;
            text-align: center;
            line-height:45px;
            text-decoration: none;
            transition-property: background-color;
            transition-duration: 30ms;
        }
    }
}

/*Tablet*/
@media (min-width: 768px) {  
    .module3 {

        &__title {
            margin: 30px 160px 45px 158px;
            width: 450px;
            height: 45px;
            font-size: 26px;
            line-height: 45px;
        }
    
        &__grid-changes{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-content: center;
            align-items: center;
            margin-left: 45px;
            text-align: center;

            &__box{
                grid-column: span 2;
            }
            

            &__subtitle {
                width: 210px;
                margin: 0;
                font-size: 24px;
                overflow: hidden;
                text-align: center;
            }
    
            &__text {
                width: 212.3px;
                margin: 0;
                text-align: center;
            }
        }
    
        &__link2 {
            margin: 60px 280px 60px 278px;
            width: 210px;
        }
    } 
}

/*Desktop*/
@media (min-width: 1280px) {
    .module3 {

        &__title {
            margin: 30px 275px 45px 275px;
            width: 730px;
            height: 45px;
            font-size: 32px;
            line-height: 45px;
        }
    
        &__grid-changes{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-content: center;
            align-items: center;
            margin-left: 85px;
            text-align: center;

            &__box{
                grid-column: span 2;
            }
            

            &__subtitle {
                width: 350px;
                height: 30px;
                margin-bottom: 14px;
                margin: 0;
                font-size: 24px;
                overflow: hidden;
                text-align: center;
            }
    
            &__text {
                width: 353.8px;
                height: 68px;
                margin: 0;
                padding-left: 30px;
                padding-right: 30px;
                text-align: center;
            }
        }
    
        &__link2 {
            margin: 60px 512px 60px 513px;
            width: 255px;
        }
    } 
}


