<footer class="footer">
  <div class="footer__part1">
    <p class="footer__part1__text1">
      ARTICLES
      BOOKS
      EVENTS
      REASONS
    </p>
  </div>
  <div class="footer__part2">
    <p class="footer__part2__text2">
      TWITTER
      INSTAGRAM
      MASTODON.SOCIAL
    </p>
  </div>
  <small class="footer__part3">
    <p class="footer__part3__text3">&copy; 2023</p>
    <p class="footer__part3__text4">we <img class="footer__part3__text4__heart" src="../images/corazon.png" alt="heart"/> components</p>
  </small>
</footer>