<footer class="footer">
  <div class="footer__circle">
    <a href="#hero"></a><img class="footer__circle__arrow" src="../images/ico-arrow.svg" alt="arrow"/>
  </div>
  <nav class="footer__articles">
    <p>ARTICLES <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>BOOKS <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>EVENTS <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>REASONS <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>TIPS <a href="https://adalab.es/" target="_blank"></a> </p>
  </nav>
  <nav class="footer__social">
    <p>TWITTER <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>INSTAGRAM <a href="https://adalab.es/" target="_blank"></a> </p>
    <p>MASTODON.SOCIAL <a href="https://adalab.es/" target="_blank"></a> </p>
  </nav>
  <small>
    <p class="footer__copy">&copy; 2023</p>
    <p class="footer__we">we <img class="footer__we__heart" src="../images/corazon.png" alt="heart"/> components</p>
  </small>
</footer>