<footer class="footer">
  <div class="footer__circle">
    <a href="index.html/#_hero"><img class="footer__circle__arrow" src="./images/ico-arrow.svg" alt="arrow"/></a>
  </div>
  <div class="footer__rectangle">
    <nav class="footer__articles">
      <p><a class="footer__articles__link" href="https://adalab.es/" target="_blank">ARTICLES</p></a> 
      <p><a class="footer__articles__link" href="https://adalab.es/" target="_blank">BOOKS</a></p>
      <p><a class="footer__articles__link" href="https://adalab.es/" target="_blank">EVENTS</a></p>
      <p><a class="footer__articles__link" href="https://adalab.es/" target="_blank">REASONS</a></p>
      <p><a class="footer__articles__link" href="https://adalab.es/" target="_blank">TIPS</a></p>
    </nav>
    <nav class="footer__social">
      <p><a class="footer__social__link" href="https://adalab.es/" target="_blank">TWITTER</p></a> 
      <p><a class="footer__social__link" href="https://adalab.es/" target="_blank">INSTAGRAM</a></p>
      <p><a class="footer__social__link" href="https://adalab.es/" target="_blank">MASTODON.SOCIAL</a></p>
    </nav>
    <small class="footer__copy-we">
      <p class="footer__copy">&copy; 2023</p>
      <p class="footer__we">we <img class="footer__we__heart" src="./images/corazon.png" alt="heart"/> components</p>
    </small>
  </div>
</footer>