<header class="header">
  <nav class="header__menu">
    <a href="https://adalab.es/" target="_blank"><img src="./images/ico-menu.svg" alt="Hamburger"/></a>
  </nav>
  <div class="header__hero">
    <div id="#_hero">
      <img class="header__hero__image" src="../images/cover.jpg" alt="hero"/>
    </div>
    <div>
      <h1 class="header__hero__title">ANONYMOUS PROXY</h1>
      <p class="header__hero__text">In hac habitasse platea dictumst.</p>
    </div>
    <div class="header__hero__icon">
      <a href="#reasons"><img class="header__hero__icon__scroll" src="./images/ico-scroll-down.svg" alt="scroll"/></a>
    </div>
  </div>
</header>