<main>
  <section class="module2">
    <article>
      <p class="module2__Insomnia">Insomnia Tips</p>
      <h2 class="module2__title">Looking Through A Window</h2>
      <p class="module2__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    </article>
    <div class="module2__button">
      <a href="https://adalab.es/" target="_blank"></a><button class="button_go" name="modul2_Go-button">Go</button>
    </div>
  </section>
  <div class="module3">
    <div>
      <h3 class="module3__title">3 Reasons To Purchase</h3>
      <h4 class="module3__subtitle">Ut sed metus</h4>
      <p class="module3__text">Lorem ipsum dolor sit amet, consecteur.</p>
      <h4 class="module3__subtitle">Curabitur ac erat</h5>
      <p class="module3__text">Mauris mattis urna quis lorem molestie.</p>
      <h4 class="module3__subtitle">Morbi dictum</h6>
      <p class="module3__text">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <div class="module3__button">
      <a href="https://adalab.es/" target="_blank"></a><button class="button__more" name="module3_More-reasons">More reasons</button>
    </nav>
  </div>
</main>